<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layouts/basic :: layout (~{::title}, ~{::main}, ~{}, ~{})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>

    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#none">Home</a></li>
            <li class="breadcrumb-item">Menu1</li>
            <li class="breadcrumb-item" aria-current="page">Menu11</li>
        </ol>
        <div class="page-title">게시물 - 생성</div>
    </div>

    <div class="content" th:object="${articlePostCreateDto}">

        <ul th:if="${#fields.hasAnyErrors()}">
            <li class="alert alert-danger" role="alert"
                 th:each="err : ${#fields.allErrors()}" th:text="${err}">
                Input is incorrect
            </li>
        </ul>

        <form th:action="@{/admin/article-post}" method="post" id="article-post-create-form" class="group-border">
            <input type="text" name="articlePostGroupId" th:value="${articlePostGroupId}" >
            <div class="form-group">
                <label for="title" class="req">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" th:classappend="${#fields.hasErrors('title')}? 'is-invalid'">
            </div>
            <div class="form-group">
                <label for="author" class="req">작성자</label>
                <input type="text" class="form-control" id="author" th:field="*{author}"
                       th:classappend="${#fields.hasErrors('author')}? 'is-invalid'">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <input type="text" class="form-control" id="content" th:field="*{content}">
            </div>
        </form>

        <div class="buttons-wrap text-right">
            <button type="submit" form="article-post-create-form" class="btn fas fa-save">저장</button>
            <a th:href="${#mvc.url('admin.ArticlePost#index').build() + '?groupId=' + articlePostGroupId }" class="btn fas fa-list">목록</a>
<!--            <a th:href="${#mvc.url('admin.ArticlePost#index').build() + '?page=' + paginationDto.page}" class="btn fas fa-list">목록</a>-->
        </div>
    </div>

    <div>
    </div>

</main>

</body>
</html>