<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layouts/basic :: layout (~{::title}, ~{::main}, ~{}, ~{})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>

    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#none">Home</a></li>
            <li class="breadcrumb-item">Menu1</li>
            <li class="breadcrumb-item" aria-current="page">Menu11</li>
        </ol>
        <div class="page-title">게시판 그룹 - 보기</div>
    </div>

    <div class="content" th:object="${articleGroup}">
        <table class="table">
            <colgroup>
                <col width="160px">
                <col width="*">
            </colgroup>
            <tbody>
            <tr>
                <th>게시판 이름</th>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <th>게시판 코드</th>
                <td th:text="*{code}"></td>
            </tr>
            <tr>
                <th>스킨</th>
                <td th:text="*{skin}"></td>
            </tr>
            <tr>
                <th>설명</th>
                <td th:text="*{description}"></td>
            </tr>
            <tr>
                <th>생성일</th>
                <td th:text="*{createdAtText}"></td>
            </tr>
            <tr>
                <th>수정일</th>
                <td th:text="*{updatedAtText}"></td>
            </tr>
            </tbody>
        </table>

        <div class="buttons-wrap text-right">
            <a th:href="${#mvc.url('admin.ArticleGroup#destroy').arg(0, articleGroup.id).build()}"
               class="btn fas fa-trash" th:data-destroy-btn="${articleGroup.name}">삭제</a>
            <a th:href="${#mvc.url('admin.ArticleGroup#edit').arg(0, articleGroup.id).build()}" class="btn fas fa-edit">수정</a>
            <a th:href="${#mvc.url('admin.ArticleGroup#index').build()}" class="btn fas fa-list">목록</a>
<!--            <a th:hr    ef="${#mvc.url('admin.ArticleGroup#index').build()} + '?page=' + ${paginationDto.page}" class="btn fas fa-list">목록</a>-->
        </div>
    </div>

</main>

</body>
</html>